
@media (max-width: 1266px) {
   .side-menu .inner-wrapper {
      padding: 3.3rem 3rem;
   }
   .side-nav .navbar-nav .nav-link {
      font-size: 1.3rem;
   }
}
@media (min-width: 993px) and (max-width: 1200px) {
   .navbar-nav .nav-item {
      margin: 0 0.875rem
   }
   .nav-social {
      margin-right: 22px;
   }
   .side-menu .inner-wrapper {
      padding: 3.2rem 2.75rem;
   }
   .sidemenu_btn {
      position: relative;
      right: 0;
   }
}
@media (max-width: 992px) {
   .transparent-bg, .center-brand {
      background: rgba(0,0,0,.5);
   }
   .transparent-bg-dark {
      background: rgba(255,255,255,.5);
   }
   .transparent-bg.fixedmenu,
   .center-brand.fixedmenu,
   transparent-bg-dark.fixedmenu {
      background: #fff;
   }
   .boxed-nav .container {
      padding-left: 15px;
   }
   .center-brand {
      padding-top: 0;
      padding-bottom: 0;
   }
   .center-brand .navbar-brand {
      position: relative;
      top: auto;
      margin: 16px 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
   }
   .navbar-nav .nav-item {
       margin: 4px 0;
   }
   .navbar-nav .nav-link {
      padding: 4px 0 !important;
   }
   .side-menu .inner-wrapper {
      padding: 3rem 2.5rem;
   }
}
/*@media (max-width: 991.98px) {
   .navbar-expand-lg > .container,
   .navbar-expand-lg > .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
   }
}*/
   
@media (max-width: 720px) {
   .side-menu .inner-wrapper {
      padding: 2.5rem 1.5rem;
   }
   .side-menu .navbar-brand {
      width: 110px;
   }
   .side-nav .navbar-nav .nav-item {
      margin: 7px 0;
   }
   .side-nav .navbar-nav .nav-link {
      font-size: 1rem;
   }
   .side-nav .navbar-nav .nav-link > span {
      font-size: 80%;
   }
}
@media (max-width: 580px) {
  .side-nav .navbar-nav .nav-link > span {
      /*display: none;*/
  }
}


@media (max-width:1024px) {
  .cbp-l-filters .cbp-filter-item span {
     padding: 5px 1.1rem;
  }
}
@media (max-width:992px) {
  .cbp-l-filters .cbp-filter-item span {
     font-size: 13px;
     padding: 5px 1rem;
  }
}
@media (max-width:1024px) {
  .cbp-l-filters .cbp-filter-item span {
     margin-bottom: .65rem;
  }
}

@media screen and (max-width: 768px) {
  #services-slider {
     margin: -70px 0 0;
  }
}

@media (max-width:1200px) {
  h1,
  #parallax-bg h1 {
     font-size: 2.56rem;
  }
  h2 {
     font-size: 2.45rem;
  }
  h3 {
     font-size: 1.65rem;
  }
  h4 {
     font-size: 1.15rem;
  }
}
@media (min-width:536px) and (max-width:1024px) {
  ul.social_icon li a {
     font-size: 14px;
     height: 30px;
     line-height: 28px;
     width: 30px;
  }
  p {
     font-size: 13px;
  }
}

@media (max-width:992px) {
  h1,
  #parallax-bg h1 {
     font-size: 2.75rem;
  }
  h2 {
     font-size: 2.3rem;
  }
  h3 {
     font-size: 1.4rem;
  }
  h4 {
     font-size: 1.125rem;
  }
}
@media screen and (max-width: 991px) {
  #shop .findus .form-group {
     width: 100%;
  }
  .apply_coupon .coupon a {
     width: 49.6%;
  }
  #shop .findus .btn_common,
  .findus .form-group {
     width: 100%;
  }
  #shop .findus .apply_coupon .btn_common {
     width: 100%
  }
  #shop .findus {
     margin: 0 !important;
  }
}

@media (max-width:768px) {
  
  h1,
  #parallax-bg h1 {
     font-size: 2.65rem;
  }
  h2 {
     font-size: 2.2rem;
  }
  h3 {
     font-size: 1.375rem;
  }
  h4 {
     font-size: 1.115rem;
  }
  .btn_common {
     padding: 10px 2.2rem;
     font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .padding {
     padding: 4rem 0;
  }
  .padding-top {
     padding-top: 4rem
  }
  .padding-bottom {
     padding-bottom: 4rem
  }
  .icon_box {
     padding: 15px;
  }
  .icon_box.margin_tophalf {
     margin-top: 2rem;
  }
  #shop .findus .form-group {
     margin-bottom: 20px !important;
  }
  .split-box .padding-bottom-sm-0 {
     padding-bottom: 0 !important;
  }
  .cart_table .d-table {
     display: table !important;
  }
  #shop .d-table-cell {
     display: contents !important;
  }
}

@media (max-width:560px) {
  #parallax-bg h1 {
     font-size: 2.2rem;
  }
  .btn_common {
     padding: 8px 2rem;
     font-size: 11px;
  }
  section {
     width: 100% !important;
  }
  .card {
     width: calc(100% - 60px) !important;
     margin: 30px auto !important;
  }
}
@media screen and (max-width: 576px) {
  .cart_table .table-responsive tbody tr > td {
     padding: 10px !important;
  }
  #shop h4 {
     font-size: 1rem;
  }
  .cart_table .shopping-product {
     margin-left: 5px;
  }
  .apply_coupon .coupon a {
     width: 49.2%;
  }
  #shop .findus .form-group {
     margin-bottom: 20px !important;
  }

  .split-box .heading_space {
     margin-bottom: 2.375rem;
  }
}

@media only screen and (max-width: 600px) {
  .hidden {
    display: none;
  }
}

/* Approach Page */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  body {
    overflow-x: hidden !important;
  }
  body#approach #about1 {
    margin-top: 20px !important;
  }
  body#approach .photo {
    width: 95% !important;
  }
  body#approach .photo img {
    min-height: inherit !important;
  }
  .photo-caption {
    font-size: .90em !important;
  }
  body#approach h1, h1 {
    font-size: 3rem !important;
    line-height: 3rem;
  }
  #home {
    background-size: 65% !important;
    background-position: -10px -50px !important;
  }
  #section9 {
    padding: 30px !important;
  }
  .home-title {
    padding-top: 70px;
  }
  p.arrow {
    bottom: 30px !important;
  }
  h3.subhead {
    font-size: 1.75rem !important;
    line-height: 2.25rem;
    font-weight: 100;
  }
  p, h4, .side-menu p, .side-nav .nav-footer .nav-item .nav-link {
    font-size: 1.15rem !important;
    line-height: 1.65rem !important;
  }
  .side-nav .navbar-nav .nav-link {
    font-size: 1.35rem !important;
    line-height: 1.65rem !important;
  }
  .side-menu.side-menu-active .side-nav ol.navbar-nav .nav-item {
    margin: 0 0 15px 0 !important;
  }
  .side-menu.side-menu-active .side-nav ol.navbar-nav .nav-item .nav-link:before {
    left: 0 !important;
    margin-right: 5px !important;
    font-size: 1.5rem !important;
  }
  ul.source-list p {
    line-height: 1.5em !important;
    font-size: 1.15rem !important;
    padding: 0 0 25px 15px !important;
  }
  ul.source-list .source-link {
    margin: 5px 0 0 0 !important;
    display: inline-block !important;
    width: 100% !important;
  }
  ul.qual-list li {
    margin: 0 !important;
  }
  ul.qual-list p {
    width: 100%;
    clear: both;
    display: block !important;
  }
  .logo-container li {
    display: block !important;
    width: 100%;
    margin: 0 0 40px 0 !important;
  }
  #home .logo-container li {
    display: inline !important;
    width: auto !important;
    margin: 0 30px 0 0 !important;
  }
  .logo-container li:first-child {
    margin-top: 50px !important;
  }
  #home .logo-container li:first-child {
    margin-top: 20px !important;
  }
  .logo-container li:last-child .logos {
    height: 65px !important;
  }
  #home .logo-container li:last-child .logos {
    height: 45px !important;
  }
 .logo-container .logos {
    height: 28px !important;
  }
  #home .logo-container .logos {
    height: 18px !important;
  }
  footer {
    padding: 60px 20px 30px !important;
  }
  .side-menu {
    width: 100% !important;
  }
  .side-menu .inner-wrapper {
    padding: 30px !important;
  }
  #home .container {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 40px !important;
    overflow: hidden;
  }
  section .container {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 20px 40px;
    overflow: hidden;
  }
  #section1.mobile {
    height: auto !important;
  }
  #section1 .interactive {
    margin: 0 !important;
  }
  #intro.mobile {
    height: 40vh !important;
  }
  #intro.mobile .rev_slider li.tp-revslider-slidesli {
    height: 40vh !important;
  }
  .parklet-caption h4 {
    font-size: .90rem !important;
    bottom: 10px !important;
    left: 20px !important;
  }
  #section2.mobile {
    background-position: -90px 90px !important;
    background-size: 130% !important;
  }
  svg {
    width: 100%;
  }
  #section2_1, #section2_2, #section2_3, #section2_4, #section2_5, #section2_6, #section2_7, #section2_8 {
    height: 300vh !important;
    background-size: 250% !important;
    background-position: top right !important;
  }
  #section2_1 .left-column, #section2_2 .left-column, #section2_3 .left-column, #section2_4 .left-column, #section2_5 .left-column, #section2_6 .left-column, #section2_7 .left-column, #section2_8 .left-column {
    width: 100% !important;
    position: relative !important;
    height: 100vh !important;
    background-size: 150% !important;
  }
  .fixedmenu {
    background: rgba(252, 245, 233,0.80) !important;
  }
  .navbar {
    width: 100% !important;
    position: fixed !important;
  }
  .nav-social {
    margin: -5px -15px 0 0 !important;
  }
  .sidemenu_btn {
    margin: 0 !important;
  }
  .side-menu .side-nav {
    margin: 40px 0 0 0 !important;
  }
  .saying-doing {
    float: left !important;
    margin: 0 !important;
    text-align: center;
    display: block !important;
    width: 100% !important;
    clear: both !important;
  }
  .saying-doing svg {
    width: 100% !important;
    margin: 0 auto !important;
  }
 .saying-doing-content {
    padding: 0 !important;
    display: block !important;
    float: left !important;
    clear: both !important;
  }
}