#section7_1.vertical {
   height: 300vh !important;
   background-color: #FCF5E9;
   z-index: 750;
}

.accordion-container {
   width: 95%;
   position: relative;
   overflow: hidden;
}
.vertical .accordion-container {
   width: 90%;
   position: relative;
   overflow: hidden;
   margin: 0 auto;
}
.accordion {
   margin: 20px auto;
   width: 60%;
   display: block;
   height: 60vh;
   overflow: hidden;
   right: -5px;
   position: relative;
}
.vertical .accordion {
   margin: 20px auto;
   width: 95%;
   display: block;
   height: 115vh;
   overflow: hidden;
   right: auto;
   bottom: -5px;
   position: relative;
}

.vertical .accordion > div:nth-child(1),
.vertical .accordion > div:nth-child(2) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(3),
.vertical .accordion > div:nth-child(4) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(5),
.vertical .accordion > div:nth-child(6) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(7),
.vertical .accordion > div:nth-child(8) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(11),
.vertical .accordion > div:nth-child(12) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(13),
.vertical .accordion > div:nth-child(14) {
   height: initial;
   margin-top: 7px;
}
.vertical .accordion > div:nth-child(15),
.vertical .accordion > div:nth-child(16) {
   height: initial;
   margin-top: 7px;
}
/*
.accordion > div:nth-child(1),
.accordion > div:nth-child(2) {
   height: 60%;
   margin-top: 9%;
}
.accordion > div:nth-child(3),
.accordion > div:nth-child(4) {
   height: 70%;
   margin-top: 18%;
}
.accordion > div:nth-child(5),
.accordion > div:nth-child(6) {
   height: 65%;
   margin-top: 14%;
}
.accordion > div:nth-child(7),
.accordion > div:nth-child(8) {
   height: 93%;
   margin-top: 2%;
}
.accordion > div:nth-child(11),
.accordion > div:nth-child(12) {
   height: 70%;
   margin-top: 10%;
}
.accordion > div:nth-child(13),
.accordion > div:nth-child(14) {
   height: 83%;
   margin-top: 7%;
}
.accordion > div:nth-child(15),
.accordion > div:nth-child(16) {
   height: 93%;
   margin-top: 5%;
}*/
.accordion-left {
   top: 35%;
   width: 17%;
   position: absolute;
   left: 20px;
   text-align: right;
}
.vertical .accordion-left {
   width: 95%;
   position: relative;
   text-align: left;
   display: block;
   margin: 0 auto;
   top: auto;
   left: auto;
}
h3.accordion-title {
   margin: 0 0 50px 50px;
   width: 40%;
   position: sticky;
}
.vertical h3.accordion-title {
   margin: 50px auto;
   width: 95%;
   position: relative;
}
.accordion-left p,
.accordion-right p {
   line-height: 1.5em;
}
.accordion-left h3,
.accordion-right h3 {
    margin-bottom: 10px;
}
.accordion-right {
   top: 35%;
   width: 17%;
   position: absolute;
   right: 20px;
   text-align: left;
}
.vertical .accordion-right {
   width: 95%;
   top: auto;
   right: auto;
   margin: 0 auto;
   position: relative;
   text-align: left;
   display: block;
}
.item {
   width: 7%;
   float: left;
   height: 100%;
   margin: 0px 5px;
   cursor: pointer;
   transition: all .5s ease-in-out;
}
.vertical-item {
   width:100%;
   float: left;
   height: 55px;
   margin: 7px 0px;
   cursor: pointer;
   transition: all .5s ease-in-out;
}
.vertical-item:hover {
   background-color: #CBB4BC;
   cursor: pointer;
}
.item:hover {
   background-color: #CBB4BC;
   cursor: pointer;
}

.info:hover {
   cursor: text;
}

.active {
    margin-right: 10px;
    transition: all .5s ease-in-out;
}
.vertical .active {
   margin-bottom: 10px;
   transition: all .5s ease-in-out;
}
.active:hover {
   cursor: text;
}
.item-1 {
   color: #393A44 !important;
   background-color: #E0D2D7;
}
.item-1.active {
   background-color: #E0D2D7;
   color: #393A44 !important;
}
.item-2 {
   color: #FCF5E9;
   background-color: #724490;
}
.item-2.active {
   color: #FCF5E9;
   background-color: #724490;
}
.item-3 {
   color: #FCF5E9;
   background-color: #9570A6;
}
.item-3.active {
   color: #FCF5E9;
   background-color: #9570A6;
}
.info {
   width: 0;
   float: left;
   color: #FCF5E9;
   height: 100%;
   padding: 5% 4%;
   display: none;
   vertical-align: middle;
   text-align: left;
	margin-left: calc(-7% - 10px);
   margin-right: 5px;
}
.info h3 {
   font-size: 1.15em;
   font-weight: 100;
   line-height: 1.5em;
   transition: all .5s ease-in-out;
}
.info p {
   width: 100%;
   margin: 10px 0;
   transition: all .5s ease-in-out;
}
.vertical-info {
   height: 0;
   max-height: 420px;
   float: left;
   color: #FCF5E9;
   width: 100%;
   padding: 30px;
   display: none;
   text-align: left;
   margin-top: -65px;
   margin-bottom: 7px;
}
.active .vertical-info {
   height: auto;
}
.vertical-info h3 {
   font-weight: 100;
   font-size: 1.15rem;
   line-height: 1.5em;
   transition: all .5s ease-in-out;
}
.vertical-info p {
   width: 100%;
   margin: 10px 0;
   transition: all .5s ease-in-out;
}