/* Fonts */
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i|DM+Serif+Text:400,400i&display=swap');

/* Turn On/Off to Only Display Map (For Screenshots) */

h1.title,
.map-control {
  display: block !important;
}

/* Hide UI */
.side-panel--container,
.map-control > div:nth-of-type(1) {
  display: none !important;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #393A44;
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
* {
  font-family: 'DM Sans', sans-serif;
}

/* Tooltip */
.map-popover__table {
    margin: 10px 20px 10px !important;
}
td.row__name,
td.row__value {
    vertical-align: top !important;
    text-align: left !important;
    font-size: 1.25em !important;
    line-height: 1.65em !important;
    min-width: 150px !important;
}
td.row__name {
    padding: 0px 20px 5px 0px !important;
}
td.row__value {
    padding: 0px 0px 5px 5px !important;
}
.map-popover__layer-name {
    font-weight: bold !important;
    font-size: 1.65em !important;
    padding: 0px 20px !important;
}
svg.data-ex-icons-layers {
    width: 16px !important;
    height: 16px !important;
    margin: 0px 10px 0px 2px !important;
    display: none !important;
}

h1.title {
  position: fixed;
  font-size: 24px;
  left: 30px;
  top: 15px;
  z-index: 900;
  padding: 10px 20px;
  color: #FCF5E9;
  background-color: #393A44;
  max-width: 80%;
  margin: 0 auto;
}
.caption {
  font-size: 14px;
  display: block;
  clear: both;
  margin: 5px 0 0 0;
  padding-bottom: 10px;
  color: #FCF5E9;
  background-color: #393A44;
}

/* Colors */
.default-text {
  color: #393A44;
}
.white-text {
  color: #FCF5E9;
}
.peach-text {
  color: #ED6E4D;
}
.purple-text {
  color: #9f82ae;
}
.yellow-text {
  color: #E8B64D;
}
.green-text {
  color: #1C8E7F;
}
.green-text-light {
  color: #85C9C0;
}
.green-text-lightest {
  color: #B5E1D6;
}
.green-text-dark {
  color: #4D7174;
}
.orange-text {
  color: #EC6E4E;
}
.grey-text {
  color: #F4ECE1;
}
.darkgrey-text {
  color: #979797;
}